pipeline/PL2_RAW_DATA.json
{
	"name": "PL2_RAW_DATA",
	"properties": {
		"activities": [
			{
				"name": "Lkp_l2_type",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT DISTINCT L2_switch_type \nFROM dbo.vb_tbl_job a\nJOIN dbo.vb_tbl_trigger b ON a.trigger_id = b.trigger_id\nWHERE b.trigger_name = '@{pipeline().parameters.Trigger}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_azure_sql",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Switch_SRC",
				"type": "Switch",
				"dependsOn": [
					{
						"activity": "Lkp_l2_type",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"on": {
						"value": "@activity('Lkp_l2_type').output.firstRow.L2_switch_type",
						"type": "Expression"
					},
					"cases": [
						{
							"value": "CloudStorage",
							"activities": [
								{
									"name": "EXEC_PL3_CLOUD",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "PL3_CLOUDSG_CSV_EXCEL",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"Trigger": {
												"value": "@pipeline().parameters.Trigger",
												"type": "Expression"
											}
										}
									}
								}
							]
						},
						{
							"value": "API",
							"activities": [
								{
									"name": "Wait1",
									"type": "Wait",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"waitTimeInSeconds": 1
									}
								}
							]
						},
						{
							"value": "snowflake",
							"activities": [
								{
									"name": "Wait2",
									"type": "Wait",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"waitTimeInSeconds": 1
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"Trigger": {
				"type": "string"
			}
		},
		"variables": {
			"Mapping": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2026-01-06T19:39:44Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}