pipeline/pl_onprem_to_adls_full_load.json
{
	"name": "pl_onprem_to_adls_full_load",
	"properties": {
		"activities": [
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Lookup_Watermark",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "@SELECT *\nFROM orders\nWHERE last_updated_ts > pipeline().parameters.v_last_watermark",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_migration_src",
						"type": "DatasetReference",
						"parameters": {
							"p_table_name": {
								"value": "@pipeline().parameters.p1_table_name",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ds_migration_sink",
						"type": "DatasetReference",
						"parameters": {
							"p_folder_path": {
								"value": "raw/products/load_date",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Lookup_Watermark",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT last_watermark\nFROM pipeline_control\nWHERE table_name = 'orders';",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_migration_lkp",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Copy data1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(activity('Copy data1').output.rowsCopied, 0)\n",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Script2",
							"type": "Script",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "ds_migration_lkp",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": "UPDATE pipeline_control\nSET last_run_status = 'FAILED',\n    last_run_time = GETDATE()\nWHERE table_name = 'orders';\n"
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Script1",
							"type": "Script",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "ds_migration_lkp",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": "UPDATE pipeline_control\nSET last_watermark = (\n    SELECT MAX(last_updated_ts) FROM orders\n),\nlast_run_status = 'SUCCESS',\nlast_run_time = GETDATE()\nWHERE table_name = 'orders';\n"
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"p1_table_name": {
				"type": "string"
			},
			"v_last_watermark": {
				"type": "string"
			}
		},
		"variables": {
			"p1_table_name": {
				"type": "String"
			},
			"v_last_watermark": {
				"type": "String"
			}
		},
		"annotations": []
	}
}